.top-nav {
 padding: 19px 0;
 .right-nav {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 92px;
  @include maxWidth(md) {
   gap: 0.7rem;
    justify-content: space-between;
  }
  .list-social {
   display: flex;
   align-items: center;
   gap: 12px;
   a {
    display: block;
    .icon {
     width: 20px;
     height: auto;
    }
   }
  }
  .links {
   display: flex;
   display: flex;
   align-items: center;
   gap: 25px;
   @include maxWidth(md) {
    gap: 0.5rem;
  }
   .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: -0.004em;
    .icon {
     width: 20px;
     height: auto;
    }
   }
  }
 }
 .left-nav  {
  display: flex;
  align-items: stretch;
  gap: 32px;
  @include maxWidth(md) {
    justify-content: center;
    gap: 0.7rem;
  }
  .item {
   font-weight: 500;
   font-size: 15px;
   display: flex;
   align-items: center;
   gap: 9px;
   line-height: 24px;
   color: var( --text-color-3);
   @include maxWidth(md) {
    gap: 2px;
  }
   .icon {
    width: 20px;
    height: auto;
   }
  }
  .bar-left-nav {
   opacity: 0.1;
   border: 1px solid var(--border-color);
   width: 1px;
  }
 }
}
.bottom-nav {
 padding:4px 0 !important;
 box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.05);
 .logo {
  margin: 0 !important;
  padding: 0 !important;
  .img {
   width: 95px;
   height: auto;
  }
 }
 .navbar-collapse {
  column-gap: 32px;
  .navbar-nav {
   column-gap: 32px;
   row-gap: 7px;
   margin-bottom: 7px;
   .nav-item {
    .nav-link {
     padding: 0 !important;
     font-weight: 500 !important;
     font-size: 15px !important;
     line-height: 30px !important;
     text-align: center !important;
     letter-spacing: -0.004em !important;
     color: var(--text-color-1) !important;
    }
   }
  }
 }
 .main-btn {
  padding: 10px 27px !important;
  font-size: 15px !important;
 }
}